.meal-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: rgba(255, 140, 0, 1.0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(255, 140, 0, 1.0);
}

.meal-btn:hover {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: rgba(255, 140, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(255, 140, 0, 0.5);
}

.order-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 139, 0);
    border: none;
    width: 270px;
    height: 40px;
    cursor: pointer;
}

.order-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 140, 0, 0.5);
    border: none;
    width: 270px;
    height: 40px;
    cursor: pointer;
    scale: 103%;
}

.order-btn-overlay {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 139, 0);
    border: none;
    width: 270px;
    height: 40px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
}

.order-btn-overlay:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 140, 0, 0.5);
    border: none;
    width: 270px;
    height: 40px;
    cursor: pointer;
    scale: 103%;
    display: block;
    margin: 40px auto;
}

.basket-overlay-btn {
    display: none;
    position: sticky;
    bottom: 0;
}

.basket-overlay-btn-fix {
    position: fixed;
    left: 0;
    bottom: 0;
    cursor: pointer;
    width: 100vw;
    height: 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: #FF8B00;
    border: none;
    z-index: 100;
}

.basket-meal-nav-minus {
    position: absolute;
    left: 0;
    cursor: pointer;
    font-size: 24px;
    color: rgb(255, 139, 0);
    background-color: transparent;
    border: none;
}

.basket-meal-nav-minus:hover {
    position: absolute;
    left: 0;
    cursor: pointer;
    font-size: 24px;
    color: rgba(255, 140, 0, 0.5);
    background-color: transparent;
    border: none;
}

.basket-meal-nav-plus {
    position: absolute;
    left: 100px;
    cursor: pointer;
    font-size: 24px;
    color: rgb(255, 139, 0, 1.0);
    background-color: transparent;
    border: none;
}

.basket-meal-nav-plus:hover {
    position: absolute;
    left: 100px;
    cursor: pointer;
    font-size: 24px;
    color: rgb(255, 139, 0, 0.5);
    background-color: transparent;
    border: none;
}

.basket-meal-nav-trash {
    position: absolute;
    right: 14px;
    cursor: pointer;
    font-size: 24px;
    color: rgb(255, 140, 0);
    background-color: transparent;
    border: none;
}

.basket-meal-nav-trash:hover {
    position: absolute;
    right: 14px;
    cursor: pointer;
    font-size: 24px;
    color: rgba(255, 140, 0, 0.5);
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 650px) {
    .basket-overlay-btn {
        cursor: pointer;
        width: 100vw;
        height: 40px;
        font-size: 14px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF8B00;
        border: none;
    }
}