.meal-headline-basket {
    font-weight: bold;
}

.total-price-text {
    font-weight: bold;
}

.order-notification {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media only screen and (min-width: 650px) {
    .basket-btn-display-none {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .order-notification {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}